ul.entries  {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;

}

.entries li {
    color: var(--textColor);
}

.entries li:nth-child(even) {
    color: var(--altTextColor);
}
