
.config-layout {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: absolute;
    overflow-x: hidden;
}

.fields-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 130px;    
}

.data-container {
    display: flex;
    flex-direction: row; 
    width: 100%;   
}

.data-labels {
    text-align: right;
}

.data-labels, .data-inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80px;
    justify-content: space-evenly;
}

.data-title-container {
    margin: 0;
    padding: 0;
}

.data-title-container span {
    font-size: 0.75em;
}

.radio-group-input {
    width: 100%;
}

form {
    padding-bottom: 20px;
}

.submit {
    font-size: 0.5em;
    border-radius: 5px;    
}

.submit:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}