
.config-layout {
    height: 100%;
    width: 100%;
}

.colors-container, .data-container {
    display: flex;
    flex-direction: column;
}


.data-widget {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.data-widget > * {
    width: 50%;
}

.data-widget label {
    text-align: right;
}
