h2.categories-header {
    font-size: 1em;
}

.categories-header div {
    display: flex;
    width: 310px;
}

.fixed {
    position: fixed;
    top:0;
    z-index: 100;
    display: block;
    margin: 0;
    padding: 0;
}