.tab {
    width:200px;
    cursor: pointer;
    font-size: 1.25em;
    color: var(--textColor);  
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;      
}

.selected {
    color: var(--accentColor);
}

.tab:hover {
    color: var(--backgroundColor);
    background-color: var(--accentColor);
}
