.entry-container {
    display: flex; 
    justify-content: center;
}

.username, .value {
    display: inline-block;
}

.username {
    padding-right: 2px;
}

.value {
    padding-left: 2px;
}

.entry-container input {
    width: 140px; 
}
