.entries {
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 340px;
}

.entries span {
    width: 50%;
}

.entries ul {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

.entries li {
    border-bottom: 1px solid var(--acccent-color);
    margin-bottom: 5px;
}