.entries {
    padding-top:100px;
    color: var(--text-color);
    min-height: 300px;
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
}

.entries span {
    width: 50%;
}

.entries ul {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    max-height: 300px;
    max-width: 500px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.entries li {
    border-bottom: 1px solid var(--acccent-color);
    margin-bottom: 5px;
}