.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

.header span {
    width: 50%;
}

.title-img {
    max-height: 100px;
    width: 100%;
}