.dashboard-layout {
    height: 500px;
    width: 320px; 
    color: var(--textColor);
    background: var(--backgroundColor);
}

.header {
    margin: 0;
    padding: 0;
}

.dashboard-header .content {
    display: flex;
    flex-direction: column;
}
