.color-picker-widget {
    display: flex;
    flex-direction: row;
    flex: auto;
    line-height: 1.5;
}

.color-picker-widget > * {
    width: 50%;
}

.color-picker-widget label {
    width: 65%;
    text-align: right;
}

.color-picker-widget div {
    text-align: center;
}
